<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Des's Personal Site</title>
    <link rel="stylesheet" href="./des_files/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="./static/des.jpg" alt="des profile picture" width="200" height="200"></td>
        <td><h1>Des Newman</h1>
        <p><em> <strong><a href="https://www.linkedin.com/in/despina-newman-frm-66a514b9">Senior Quantitative Analyst</a></strong>.</em></p>
        <p>Credit risk modelling specialist with a love of problem-solving.</p></td>
      </tr>
    </tbody></table>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Role</th>
          <th>Division, organization</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-present</td>
          <td>Senior Quantitative Analyst</td>
          <td>BCB, Standard Bank</td>
        </tr>
        <tr>
          <td>2020-2023</td>
          <td>Senior Quantitative Analyst</td>
          <td>PPB, Standard Bank</td>
        </tr>
        <tr>
          <td>2016-2020</td>
          <td>Quantitative Analyst</td>
          <td>PBB, Standard Bank</td>
        </tr>
      </tbody>
    </table>
    <hr>
    </tbody></table>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Qualification</th>
          <th>Institute</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2020</td>
          <td>Financial Risk Manager</td>
          <td>GARP</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>MSc Computational and Applied Mathematics (with distinction) </td>
          <td>University of the Witwatersrand</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>BSc Honours Computational and Applied Mathematics (with distinction)</td>
          <td>University of the Witwatersrand</td>
        </tr>
        <tr>
          <td>2011-2013</td>
          <td>BSc Computational and Applied Mathematics and Mathematics (with distinction)</td>
          <td>University of the Witwatersrand</td>
        </tr>
      </tbody>
    </table>

</body></html>