<!DOCTYPE HTML>

<html>
	<head>
		<title>Des Newman</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Des Newman</h1>
									<h3>Senior Quantitative Analyst</h3>
									<h3><em>Standard Bank South Africa</em></h3>
									<br>
									<p>Credit risk modelling specialist with a proven track record of delivery.</p>
								</header>
								<a href="#work" class="jumplink pic">
<!--									<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>-->
									<img src="/static/images/des.jpg" alt="" />
								</a>
							</article>
						</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>Des Newman</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>